<!-- HTML FILE FOR THE TEAMING STUDY TASK UI -->
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/teaming.css"/>
    <link rel="stylesheet" href="static/styles/modal.css"/>
    <title>Debate Labeling Task</title>
  </head>
  <body>

    <div id="app">
      <div class="header">
      <div>
        <!--<strong class="inline large">Label Debates</strong> -->
        <strong class="right inline user-id">USER ID: {{ userId }} </strong>
      </div>

      </br>
      <div>
        <strong> # Debates You've Labeled: {{ labeledCount }} </strong>
        <strong id="timer-box"
             class="right time-remaining"
             title="task time remaining">
          Time Remaining: {{ prettyTime }}
        </strong>
      </div>
      <div>
        <button class="save-button"
                v-on:click="sendUpdate"
                title="save input and get new set of debates">
          Save {{ perceivedControl ? "Overrides" : "Suggestions" }} to Update the Model and Get Another Set of Debates
        </button>
        <button v-on:click='toggleModal()' class="right" title="show instructions">View Instructions</button>

        <button v-on:click='labelAllCorrect'>Cheat</button>

          <!-- <button v-on:click="getAccuracy">Get Accuracy</button>-->
        </br>
      </div>
    </div>

      <div id="doc-list"
           v-if="isMounted">
        <!--
        <div class="doc-container-collapsed doc-container doc-header">
          <div class="expand-button-area"></div>
          <div class="title">Doc Identifier</div>
          <div class="rating">Model Prediction</div>
          <div class="radio">
            {{ perceivedControl ? "Assign Label" : "Suggest Label" }}
          </div>
        </div>
        -->
        <div v-for="doc in unlabeledDocs"
             class="doc-container"
             v-bind:class="doc.open ? 'doc-container-expanded' : 'doc-container-collapsed'">
          <div class="expand-button-area">
            <button class="expand-button"
                    v-on:click="toggleDocOpen(doc)">
              <span v-if="doc.open">
              -
              </span>
              <span v-else>
              +
              </span>
            </button>
          </div>
          <div class="title">
            <div class="vertical-align">
              Debate </br>
              #{{ pad(doc.docId, 6) }}
            </div>
          </div>
          <div class="rating">
            <div>
              <div class="vertical-align large-label">
                Model Prediction:
              </div>
            </div>
            <div class="model-prediction rounded" v-bind:style="{'background-color': getConfidenceColor(doc)}">
              {{ getConfidenceWord(doc) }} </br> {{ expandLabel(doc.prediction.label) }}
            </div>
          </div>

          <div class="radio">
            <span v-if="showAnswers">
              {{ labels[0].label === doc.trueLabel ? '&#10004;' : '&#10005;' }}
            </span>
            <div class="radio-container">
              <div>
                <div class="vertical-align large-label">
                  {{ perceivedControl ? "Override the model:" : "Suggest a label:" }}
                </div>
              </div>
              <button class="radio-selection"
                      v-on:click="labelDoc(doc, labels[0].label+'1')"
                      v-bind:style="{'background-color': colors[labels[0].label]}">
                 {{ expandLabel(labels[0].label) }}</br>
                <input type="radio"
                       v-bind:value="labels[0].label+'1'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-if="inputUncertainty"
                      v-on:click="labelDoc(doc, labels[0].label+'2')"
                      v-bind:style="{'background-color':
                      lightenDarkenColor(colors[labels[0].label], -40)}">
                Possibly {{ expandLabel(labels[0].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[0].label+'2'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-if="inputUncertainty"
                      v-on:click="labelDoc(doc, labels[1].label+'2')"
                      v-bind:style="{'background-color':
                      lightenDarkenColor(colors[labels[1].label], -40)}">
                Possibly {{ expandLabel(labels[1].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[1].label+'2'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-on:click="labelDoc(doc, labels[1].label+'1')"
                      v-bind:style="{'background-color': colors[labels[1].label]}">
                 {{ expandLabel(labels[1].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[1].label+'1'"
                       v-model="doc.userLabel"/>
              </button>
            </div>
          </div>
            <!--
            <label>My label
              <input style="display:block;"
                     type="radio"
                     id="something"
                     value="hello"
              \>
            </label>
            <label>
              Label1
              <input style="display:block;"
                     type="radio"
                     id="val1"
                     name="val"
                     value="hello"
                     />
            </label>
            <label>
              Label2
              <input style="display:block;"
                     type="radio"
                     id="val2"
                     name="val"
                     value="hello"
                     />
            </label>
            <label for="one">{{ expandLabel(labels[0].label) }}</label>
            <input type="radio"
                   id="one"
                   v-bind:value="labels[0].label+'O'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="one"
                   v-if="inputUncertainty"
                   v-bind:value="labels[0].label+'I'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="two"
                   v-if="inputUncertainty"
                   v-bind:value="labels[1].label+'I'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="two"
                   v-bind:value="labels[1].label+'O'"
                   v-model="doc.userLabel"/>
            <label for="two">{{ expandLabel(labels[1].label) }}</label>
            <span v-if="showAnswers">
              {{ labels[1].label === doc.trueLabel ? '&#10004;' : '&#10005;' }}
            </span>
            -->
          <div class="doc-text" v-if="doc.open">
            <!-- {{ doc.text }} -->
            <div v-html="getDocHtml(doc)"></div>
          </div>




        </div>
      </div> <!--end doc-list-->
    <transition name="fade"> <!-- MODAL -->
      <div class="modal-shell"
           v-show="showModal"
           v-on:click="closeModal()">
        <div class="modal-content instructions" v-on:click.stop>
          <div class="modal-header doc-header">
            <h2>
              <span v-if="!finishedSurvey">Welcome</span>
              <span v-if="!timeWarning && finishedSurvey && firstPage && !finished && !refreshed">Task Overview</span>
              <span v-if="!timeWarning && finishedSurvey && secondPage && !finished && !refreshed">Instructions</span>
              <span v-if="!timeWarning && finishedSurvey && !firstPage && !secondPage && !finished && !refreshed">How Does the Model Learn from Your Labels?</span> <!--for the debate labeling task-->
              <span v-if="finished">Post-Task Survey</span>
              <span v-if="timeWarning">Time is almost up!</span>
            </h2>
            <button class="btn-close"
                    v-on:click="closeModal()"
                    v-if="started && !finished && !refreshed">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <!-- TIME WARNING MODAL -->
            <span v-if="timeWarning">
              You have 2 minutes remaining to confirm or correct the system predictions. At the end of task time, all of your outstanding {{perceivedControl ? 'overrides' : 'suggestions' }} will be saved to the system.
            </span>
            <!-- REFRESH CONFIRMATION MODAL -->
            <span v-if="refreshed && !finished">
              The system has:
              <ol>
                <li v-if="inputProvided"><span class="bold">updated the model by {{perceivedControl ? 'replacing previously learned democrat and republican words from those debates with the labels you assigned' : 'taking your suggested labels into account with previously learned democrat and republican words from those debates'}}</li>
                <li>labeled five new debates (randomly chosen from the large set) using the updated model</li>
              </ol>
            </span>
            <!-- TASK FINISHED MODAL -->
            <span v-if="finished">
              Time is now up; any outstanding {{perceivedControl ? 'overrides' : 'suggestions' }} were saved to the system.
              <br/>
              <br/>
              Thank you for participating in the task. Please complete the following survey:
              <a href="https://forms.gle/DiVdwNuquTKGLjxV7" target="_blank">post-task survey</a>, with your assigned user id: {{userId}}
            </span>
            <!-- INSTRUCTIONS (1 OF 4) MODAL -->
            <span v-if="!timeWarning && !finishedSurvey && !finished && !refreshed">
              Welcome to the political party prediction task! Your assigned user id is: <span class="bold">{{userId}}</span>. Please write this down - you will need it for the surveys and to receive compensation for this task.
              <br/>
              <br/>
              Please first complete the
              <a v-on:click="clickedSurvey = true" target="_blank" href="https://forms.gle/XRLTyQTAYQZL4iTPA">pre-task survey</a>, which will open in a new tab or window. After completing the survey, return to this tab to continue the task.
            </span>
            <!-- INSTRUCTIONS (2 OF 4) MODAL -->
            <span v-if="!timeWarning && firstPage && finishedSurvey && !finished && !refreshed">
              <div>
                Imagine you have been given a large set of congressional debate speeches and are asked to <span class="bold">determine the political party of the speakers for as many of the speeches as possible</span>. There are too many speeches for you to do this without help, so for this task, you will have access to a political party prediction system that predicts if a speaker is a republican or democrat.
              </div>
              </br>
              <div>
                The system is "in-training": it was previously given a small set of debate speeches with labels describing whether the speakers are republicans or democrats. From these labeled debates, the system learned an initial model to distinguish republican and democrat speakers based on the words they use and the topics they discuss. However, the initial model is not perfect and sometimes makes mistakes. You will help improve the model by labeling additional speeches as republican or democrat. <span class="bold">You will be given up to a $5 bonus based on the quality of the final, updated model</span>.
              </div>
            </span>
            <!-- INSTRUCTIONS (3 OF 4) MODAL -->
            <span v-if="!timeWarning && secondPage && finishedSurvey && !finished && !refreshed">
              <div>
                During the task,
                <ul>
                  <li>The system will predict whether the speaker is republican or democrat for five debate speeches at a time, chosen at random from the large set. For each speech,
                  <ul>
                    <li>The system gives the prediction and how sure it is.</li>
                    <li>Click the + button next to the speech to view text.</li>
                    <li>The highlighted words are most important for the model's prediction.</li>
                  </ul>
                </li>
                <li>You can {{ perceivedControl ? "override the system's " : 'suggest' }} labels for any of these speeches with whether you think the speaker is republican or democrat by clicking the radio buttons. Click again to clear the label.</li>
                <li>At any point, click the “Save Labels to Update Model and Get Another Set of Debates” button.
                  <ul>
                    <li>The system updates the model by {{ perceivedControl ? 'replacing the previously learned republican and democratic words in those debates with the political party labels you assign' : 'taking the political party labels you suggest into account with the previously learned republican and democratic words in those debates'}}.</li>
                    <li>The system uses the updated model to predict the political party for five new debates randomly chosen from the large set.</li>
                  </ul>
                </li>
                <li>Hint: you do not need to wait until you've labeled all five debates to save your labels to the model and move on to another set of five debates.</li>
                <li>Repeat this process until the 20 minute timer is up.</li>
              </ul>
              </div>
              <div>
                <span>System Example:</span>
                <div class="image-holder"><img class="modal-image" :src="getScreenshotUrl()" /></div>
              </div>
              <div>
                When time is up, the final version of the model will predict the labels for the entire set of debate speeches. You will receive up to a <span class="bold">$5 bonus for how many speeches are correctly labeled by the final model.</span>
              </div>
            </span>
            <!-- Instructions (4 OF 4) MODAL: HOW DOES MODEL LEARN FROM YOUR LABELS -->
            <span v-if="!timeWarning && !secondPage && !firstPage && finishedSurvey && !finished && !refreshed">
              <div>
                Remember, the system used a small set of labeled debate speeches to learn an initial model to distinguish republican and democrat speakers based on the words they use and the topics they discuss. However, the initial model is not perfect and sometimes makes mistakes.
              </div>
              </br>
              <div>
                The system uses two types of information for improving the model:
                <ol>
                  <li>The previously learned information (i.e. the political party-distinguishing words)
                  <li>The republican or democrat labeeled speeches you provide</li>
                </ol>
                The picture below shows the range of how these two types of information <span class="italic">could</span> be used to improve the model, from (left) using only your labels (ignoring previously learned information) to (right) ignoring your labels (using only previously learned information). <span class="bold">In this task, the system incorporates your labels by updating the model to {{ perceivedControl ? "override the previously learned republican and democratic words in those debates with the political party labels you assign" : 'take the political party labels you suggest into account with the previously learned republican and democratic words in those debates' }}.</span>
              </div>
              </br>
              <div class="image-holder"><img class="modal-image" :src="getSliderUrl()" /></div>
              </br>
              <div>Remember, the goal is to work with the system to train a model that can accurately distinguish between republican and democrat speakers. You will have 20 minutes for this task. <span class="bold">Every time you click to “Save and Get Another Set of Debates”, the model will learn from your labels as described above and present another set of five randomly chosen speeches with the new predictions.</span> When time is up, the final, updated model will predict the labels for the entire set of debate speeches. You will receive up to a $5 bonus for how many of these speeches are correctly labeled by the final model. You can revisit these instructions at any time by clicking the “View Instructions” button.
              </div>
            </span>
          </div> <!-- Modal body -->
          <div class="modal-footer">
            <button class="modal-button"
                    v-if="clickedSurvey && !finishedSurvey && !finished && !refreshed"
                    v-on:click="finishedSurvey = true">
              proceed to instructions
            </button>
            <button class="modal-button"
                    v-if="!timeWarning && firstPage && !secondPage && finishedSurvey && !finished && !refreshed"
                    v-on:click="firstPage = false; secondPage = true;">
              next
            </button>
            <button class="modal-button"
                    v-if="!timeWarning && !firstPage && secondPage && finishedSurvey && !finished && !refreshed"
                    v-on:click="secondPage = false">
              next
            </button>
            <button class="modal-button"
                    v-if="!timeWarning && !started && !firstPage && !secondPage && !finished && !refreshed"
                    v-on:click="startTask">
              start task
            </button>
            <button class="modal-button"
                    v-if="refreshed && !finished"
                    v-on:click="closeModal()">
              ok
            </button>
          </div>
        </div> <!-- Modal content -->
      </div> <!-- Modal shell -->
    </transition>
    <transition name="fade">
      <div v-if="loading"
           class="modal-shell">
          <!-- <div class="loader-text">Training the model with your {{perceivedControl ? 'assignments' :
           'suggestions'}} and using the updated model to predict the political party for the next set of debate speeches.</div> -->
        <img v-bind:src="'static/images/spinner.gif'"></img>
      </div>
    </transition>
    </div> <!-- End Vue App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>
