<!-- HTML FILE FOR THE TEAMING STUDY TASK UI -->
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="static/styles/second_style.css"/>
    <link rel="stylesheet" href="static/styles/modal.css"/>
    <title>Debate Labeling Task</title>
  </head>
  <body>

    <div id="app">
      <div>
        <!--<strong class="inline large">Label Debates</strong> -->
        <strong class="right inline large user-id">user id: {{ userId }} </strong>
      </div>

      </br>
      <div>
        <strong> # documents you've labeled: {{ labeledCount }} </strong>
        <strong id="timer-box"
             class="right time-remaining">
          time remaining: {{ prettyTime }}
        </strong>
      </div>
      <div>
        <button v-on:click='toggleModal()' title="display instructions">?</button>

      <!--  <button v-on:click='labelAllCorrect'>Cheat</button> -->
        <button class="right save-button"
                v-on:click="sendUpdate">
          save and get new set of debates
        </button>
          <!-- <button v-on:click="getAccuracy">Get Accuracy</button>-->
        </br>
      </div>

      <div id="doc-list"
           v-if="isMounted">
        <!--
        <div class="doc-container-collapsed doc-container doc-header">
          <div class="expand-button-area"></div>
          <div class="title">Doc Identifier</div>
          <div class="rating">Model Prediction</div>
          <div class="radio">
            {{ perceivedControl ? "Assign Label" : "Suggest Label" }}
          </div>
        </div>
        -->
        <div v-for="doc in unlabeledDocs"
             class="doc-container"
             v-bind:class="doc.open ? 'doc-container-expanded' : 'doc-container-collapsed'">
          <div class="expand-button-area">
            <button class="expand-button"
                    v-on:click="toggleDocOpen(doc)">
              <span v-if="doc.open">
              -
              </span>
              <span v-else>
              +
              </span>
            </button>
          </div>
          <div class="title">
            <div class="vertical-align">
              Debate </br>
              #{{ pad(doc.docId, 6) }}
            </div>
          </div>
          <div class="rating">
            <div class="vertical-align rounded"
                 v-bind:style="{'background-color': colors[doc.prediction.label]}">
              Model Prediction: </br>
              {{ getConfidenceWord(doc) }} {{ expandLabel(doc.prediction.label) }}
            </div>
          </div>

          <div class="radio">
            <span v-if="showAnswers">
              {{ labels[0].label === doc.trueLabel ? '&#10004;' : '&#10005;' }}
            </span>
            <div class="radio-container">
              <div>
                <div class="vertical-align">
                  {{ perceivedControl ? "Assign Label:" : "Suggest Label:" }}
                </div>
              </div>
              <button class="radio-selection"
                      v-on:click="labelDoc(doc, labels[0].label+'1')"
                      v-bind:style="{'background-color': colors[labels[0].label]}">
                Definitely {{ expandLabel(labels[0].label) }}</br>
                <input type="radio"
                       v-bind:value="labels[0].label+'1'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-if="inputUncertainty"
                      v-on:click="labelDoc(doc, labels[0].label+'2')"
                      v-bind:style="{'background-color':
                      lightenDarkenColor(colors[labels[0].label], -40)}">
                Maybe {{ expandLabel(labels[0].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[0].label+'2'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-if="inputUncertainty"
                      v-on:click="labelDoc(doc, labels[1].label+'2')"
                      v-bind:style="{'background-color':
                      lightenDarkenColor(colors[labels[1].label], -40)}">
                Maybe {{ expandLabel(labels[1].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[1].label+'2'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-on:click="labelDoc(doc, labels[1].label+'1')"
                      v-bind:style="{'background-color': colors[labels[1].label]}">
                Definitely {{ expandLabel(labels[1].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[1].label+'1'"
                       v-model="doc.userLabel"/>
              </button>
            </div>
          </div>
            <!--
            <label>My label
              <input style="display:block;"
                     type="radio"
                     id="something"
                     value="hello"
              \>
            </label>
            <label>
              Label1
              <input style="display:block;"
                     type="radio"
                     id="val1"
                     name="val"
                     value="hello"
                     />
            </label>
            <label>
              Label2
              <input style="display:block;"
                     type="radio"
                     id="val2"
                     name="val"
                     value="hello"
                     />
            </label>
            <label for="one">{{ expandLabel(labels[0].label) }}</label>
            <input type="radio"
                   id="one"
                   v-bind:value="labels[0].label+'O'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="one"
                   v-if="inputUncertainty"
                   v-bind:value="labels[0].label+'I'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="two"
                   v-if="inputUncertainty"
                   v-bind:value="labels[1].label+'I'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="two"
                   v-bind:value="labels[1].label+'O'"
                   v-model="doc.userLabel"/>
            <label for="two">{{ expandLabel(labels[1].label) }}</label>
            <span v-if="showAnswers">
              {{ labels[1].label === doc.trueLabel ? '&#10004;' : '&#10005;' }}
            </span>
            -->
          <div class="doc-text" v-if="doc.open">
            <!-- {{ doc.text }} -->
            <div v-html="getDocHtml(doc)"></div>
          </div>




        </div>
      </div> <!--end doc-list-->
    <transition name="fade"> <!-- MODAL -->
      <div class="modal-shell"
           v-show="showModal"
           v-on:click="closeModal()">
        <div class="modal-content instructions" v-on:click.stop>
          <div class="modal-header doc-header">
            <h2>
              Instructions <!--for the debate labeling task-->
            </h2>
            <button class="btn-close"
                    v-on:click="closeModal()"
                    v-if="started">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <span v-if="firstPage">
              <div>
                We have created a political party prediction system to predict if a speaker is a republican or democrat. In this task, you and the system will predict the political party of the speakers for a large set of debate speeches. There are too many speeches for you to read and predict the speakers’ political party for all of them on your own.
              </div>
              </br>
              </br>
              <div>For each speech, the system predicts the party affiliation of the speaker and highlights the words within the speech that are most important for that prediction. You can correct or confirm the party affiliation for any of the speeches to help the system learn to make better predictions.</div>
              </br>
              </br>
              <div>You will have 20 minutes to review the speeches and correct or confirm the systems predictions. At the end of the task time, the system will label the remaining speeches. Then all speeches (those labeled by you and by the final version of the system) will be scored. You will be given a bonus for how many of the speeches are correctly labeled.
              </div>
            </span>
            <span v-if="!firstPage">
              <div>The system has predicted the political party affiliation for the
              speaker of each of the ten debates speeches shown here. For each debate,
              the system provides its prediction and how sure it is. You can correct or
              confirm the system’s prediction by {{ perceivedControl ? 'assigning' : 'suggesting' }} whether the speaker is a
              republican or democrat.
              </br>
              </br>
              Clicking on any debate expands it to view
              the text. The highlighted words are those that are most important for
              the system's prediction.
              </br>
              </br>
              Pressing the "save and get new set of documents”
              button at any point saves your {{ perceivedControl ? 'assignments' : 'suggestions' }} to the system and gets a new
              set of debates to review.
              </br>
              </br>
              Remember, your goal is to correct or confirm the systems predictions to help it learn to make better predictions. After the 20 minute timer is up, the system will label the remaining speeches and you will be scored based on how many out of all total speeches are correct. You can revisit these instructions at any time by clicking the “? button.
              </div>
            </span>
          </div> <!-- Modal body -->
          <div class="modal-footer">
            <button class="modal-button"
                    v-if="firstPage"
                    v-on:click="firstPage = false">
              next
            </button>
            <button class="modal-button"
                    v-if="!started && !firstPage"
                    v-on:click="startTask">
              start
            </button>
          </div>
        </div> <!-- Modal content -->
      </div> <!-- Modal shell -->
    </transition>
    <transition name="fade">
      <div v-if="loading"
           class="modal-shell">
        <img v-bind:src="'static/images/spinner.gif'"></img>
      </div>
    </transition>
    </div> <!-- End Vue App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>
