<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/style.css"/>
    <link rel="stylesheet" href="static/styles/modal.css"/>
    <link rel="stylesheet" href="static/styles/autocomplete.css"/>
    <title>Vue DragTable</title>
  </head>
  <body>
    <div id="app">
      <h1>MetadataMap</h1>
      <table v-if="isMounted"
             class="metadata-map">
        <colgroup>
          <col> <!-- anchors Column -->
          <col> <!-- First Label Column -->
          <col>
          <col v-for="doc in unlabeledDocs"
                 class="">
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th></th>
            <th class="label-title"
                v-for="label in [labels[0]]"
                v-bind:style="{'background-color': colors[label.label]}"
                v-bind:colspan="1"> {{ label.label }}
            </th>
            <th class="label-title"
                v-bind:colspan="unlabeledDocs.length">
              Unlabeled Documents
            </th>
            <th class="label-title"
                v-for="label in [labels[1]]"
                v-bind:style="{'background-color': colors[label.label]}"
                v-bind:colspan="1"> {{ label.label }}
            </th>
          </tr>
          <tr>
            <th>
              <button v-on:click="openModal()">Edit Anchors</button>
              <!-- &rarr; -->
            </th>
            <th v-for="label in [labels[0]]"
                class=""
                v-on:dragover.prevent
                v-on:drop="assignDocLabel(label)"
                v-on:dragend="assignDocLabel(label)">
              {{ label.count }} documents labeled "{{ label.label }}"
            </th>
            <th v-for="doc in unlabeledDocs"
                class="doc-title"
                v-bind:style="{'background-color': 'grey'}"
                v-bind:id="'doc'+doc.docId"
                v-on:click="selectDocument(doc)"
                draggable="true"
                v-on:dragstart="dragItem(doc, 'doc'+doc.docId, unlabeledDocs)"
                v-on:dragend="dragEnd(doc, 'doc'+doc.docId, unlabeledDocs)"
                v-on:dragenter="dragOver(doc, 'doc'+doc.docId, unlabeledDocs)"
                v-on:dragover.prevent
                v-on:dragleave="dragLeave(doc, 'doc'+doc.docId, unlabeledDocs)"
                v-on:drop="dropItem(doc, 'doc'+doc.docId, unlabeledDocs)">
                    <div class="vertical-text">{{ doc.docId }}
                      <span v-if="doc.trueLabel !== doc.prediction.label">
                        &#10006;
                      </span>
                    </div>
                  </th>

            <th v-if="unlabeledDocs.length === 0"
                v-bind:style="{'background-color': 'grey'}" >
              No unlabeled documents remaining
            </th>
            <th v-for="label in [labels[1]]"
                class=""
                v-on:dragover.prevent
                v-on:drop="assignDocLabel(label)"
                v-on:dragend="assignDocLabel(label)">
              {{ label.count }} documents labeled "{{ label.label }}"
          </tr>
          <tr v-for="anchor in anchors">
            <td
                v-bind:id="'anchor' + anchor.anchorId"
                class="anchor-container"
                v-on:click="selectAnchor(anchor)"
                draggable="true"
                v-on:dragstart="dragItem(anchor, 'anchor'+anchor.anchorId, anchors)"
                v-on:dragend="dragEnd(anchor, 'anchor'+anchor.anchorId, anchors)"
                v-on:dragenter="dragOver(anchor, 'anchor'+anchor.anchorId, anchors)"
                v-on:dragover.prevent
                v-on:dragleave="dragLeave(anchor, 'anchor'+anchor.anchorId, anchors)"
                v-on:drop="dropItem(anchor, 'anchor'+anchor.anchorId, anchors)" >
                <span v-for="word in anchor.anchorWords"
                      class="anchor-word word-box">
                  {{ word }}
                </span>
              </td>

            <!--<td v-bind:style="{'background-color':
                colors[labels[0].label]}" ></td>-->
            <td v-for="label in [labels[0]]"
                v-bind:style="{'background-color':
                heatmap(label.anchorIdToValue[anchor.anchorId],
                colors[label.label],
                Math.max(...Object.values(label.anchorIdToValue)))}" >
              <span>
                {{ parseFloat(label.anchorIdToValue[anchor.anchorId]).toFixed(2) }}
              </span>
            </td>
            <td v-for="doc in unlabeledDocs"
                v-bind:style="{'background-color':
                heatmap(doc.anchorIdToValue[anchor.anchorId],
                colors[doc.prediction.label])}" >
              <span v-show="doc.dragging || doc.selected || true"
                    class="very-small">
                {{ parseFloat(doc.anchorIdToValue[anchor.anchorId]).toFixed(2) }}
                <span v-if="doc.trueLabel !== doc.prediction.label">
                  &#10006;
                </span>
              </span>
            </td>
            <td v-if="unlabeledDocs.length === 0"
                v-bind:style="{'background-color': 'white'}" ></td>
            <td v-for="label in [labels[1]]"
                v-bind:style="{'background-color':
                heatmap(label.anchorIdToValue[anchor.anchorId],
                colors[label.label],
                Math.max(...Object.values(label.anchorIdToValue)))}" >
              <span>
                {{ parseFloat(label.anchorIdToValue[anchor.anchorId]).toFixed(2) }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button v-on:click="sendUpdate">Update</button>
        <button v-on:click="getAccuracy">Get Accuracy</button>
      </div>
      <div v-if="selectedDoc.docId" class="document-info">
        <h2>Doc Number: {{ selectedDoc.docId }}</h2>
        <div>
          {{ selectedDoc.text }}
        </div>
        <hr/>
        <div>
          Current Label : {{ selectedDoc.prediction.label }}
        </div>
        <hr/>
        <div>
          True Label : {{ selectedDoc.trueLabel }}
        </div>
        <hr/>
        <template v-for="anchor in anchors">
          <div>
            <span v-for="word in anchor.anchorWords"> {{ word }} </span>
            {{ parseFloat(selectedDoc.anchorIdToValue[anchor.anchorId]).toFixed(2) }}
          </div>
        </template>
        <hr/>
        <div>
          Tokens : {{ selectedDoc.tokens }}
        </div>
        <hr/>
      </div> <!-- End Document Info -->
      <div v-if="selectedAnchor.anchorWords" class="topic-info">
        <h2>Topic : {{ selectedAnchor.anchorWords }}</h2>
        <hr/>
        <h3> Related words </h3>
        <template v-for="topicWord in selectedAnchor.topicWords">
          <div>
            {{ topicWord }}
          </div>
        </template>
      </div> <!-- End Topic Info -->
    <transition name="fade"> <!-- MODAL -->
      <div class="modal-shell"
           v-show="showModal"
           v-on:click="closeModal()">
        <div class="modal-content" v-on:click.stop>
          <div class="modal-header">
            This is modal Header
            <button class="btn-close"
                    v-on:click="closeModal()">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <table>
              <tbody>
                <tr>
                  <th>Anchors</th>
                  <th>Topic Words</th>
                </tr>
                <tr v-for="anchor in anchors">
                  <td>
                    <span v-for="anchorWord in anchor.anchorWords"
                          class="word-box">
                      {{ anchorWord }}
                    </span>
                    <span>
                      <input class="autocomplete-input"
                             type="text"
                             v-model="anchor.autocompleteInput"
                             v-on:input="onAutocompleteChange(anchor.autocompleteInput)"/>
                      <ul v-show="autocompleteResults.length > 0"
                          class="autocomplete-results">
                        <li v-for="(result, i) in autocompleteResults"
                            v-bind:key="i"
                            class="autocomplete-result">
                          {{ result }}
                        </li>
                      </ul>
                    </span>
                  </td>
                  <td>
                    <span v-for="topicWord in anchor.topicWords"
                          class="word-box">
                      {{ topicWord }}
                    <span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            This is modal footer
          </div>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div v-if="loading"
           class="modal-shell">
        <img v-bind:src="'static/images/spinner.gif'"></img>
      </div>
    </transition>






<!--

          <template v-for="label in labels">
            <th v-bind:id="'leftLabelDivider_'+label"
                v-bind:style="{'background-color': labelColor(label)}"
                v-on:dragover.prevent
                v-on:dragenter="dragIntoDivider(label)"></th>
            <template v-for="doc in docsByLabel[label]">
              <th class="doc-title"
                  v-bind:style="{'background-color': labelColor(label, 1.5)}"
                  v-bind:id="'doc'+doc.docNum"
                  v-on:click="selectDocument(doc)"
                  draggable="true"
                  v-on:dragstart="dragItem(doc, 'doc'+doc.docNum, docs)"
                  v-on:dragend="dragEnd(doc, 'doc'+doc.docNum, docs)"
                  v-on:dragenter="dragOver(doc, 'doc'+doc.docNum, docs)"
                  v-on:dragover.prevent
                  v-on:dragleave="dragLeave(doc, 'doc'+doc.docNum, docs)"
                  v-on:drop="dropItem(doc, 'doc'+doc.docNum, docs)">
                    <div class="vertical-text">{{ doc.docNum }}</div>
                  </th>
            </template>
            <th v-bind:id="'rightLabelDivider_'+label"
                v-bind:style="{'background-color': labelColor(label)}"
                v-on:dragover.prevent
                v-on:dragenter="dragIntoDivider(label)"></th>

          </template>
          </tr>
          <tr v-for="topic in topics">
            <td
                v-bind:id="'topic' + topic.topicNum"
                class="topic"
                v-on:click="selectTopic(topic)"
                draggable="true"
                v-on:dragstart="dragItem(topic, 'topic'+topic.topicNum, topics)"
                v-on:dragend="dragEnd(topic, 'topic'+topic.topicNum, topics)"
                v-on:dragenter="dragOver(topic, 'topic'+topic.topicNum, topics)"
                v-on:dragover.prevent
                v-on:dragleave="dragLeave(topic, 'topic'+topic.topicNum, topics)"
                v-on:drop="dropItem(topic, 'topic'+topic.topicNum, topics)" >{{
                topic.topic }}</td>

            <template v-for="label in labels">
              <td v-bind:style="{'background-color': labelColor(label)}" ></td>
              <td v-for="doc in docsByLabel[label]"
                  v-bind:style="{'background-color':
                  heatmap(doc[topic.topic], colors[doc.label])}" >
                <span v-show="doc.dragging || doc.selected"> {{ doc[topic['topic']] }} </span>
              </td>
              <td v-bind:style="{'background-color': labelColor(label)}"></td>
            </template>
          </tr>
        </tbody>
      </table>
      <div v-if="selectedDoc.docNum" class="document-info">
        <h2>Doc Number: {{ selectedDoc.docNum }}</h2>
        <div>
          {{ selectedDoc.text }}
        </div>
        <hr/>
        <div>
          Current Label : {{ selectedDoc.label }}
        </div>
        <hr/>
        <div>
          True Label : {{ selectedDoc.trueLabel }}
        </div>
        <hr/>
        <template v-for="topic in topics">
          <div>
            {{topic.topic}} : {{ selectedDoc[topic.topic] }}
          </div>
        </template>
        <hr/>
        <div>
          Tokens : {{ selectedDoc.tokens }}
        </div>
        <hr/>
      </div>
      <div v-if="selectedTopic.topic" class="topic-info">
        <h2>Topic : {{ selectedTopic.topic }}</h2>
        <hr/>
        <h3> Related words </h3>
        <template v-for="relatedWord in selectedTopic.relatedWords">
          <div>
            {{ relatedWord }}
          </div>
        </template>
      </div>

      -->
    </div> <!-- End Vue App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>
