<!-- HTML FILE FOR THE TEAMING STUDY TASK UI -->
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/teaming.css"/>
    <link rel="stylesheet" href="static/styles/modal.css"/>
    <title>Debate Labeling Task</title>
  </head>
  <body>

    <div id="app">
      <div class="header">
      <div>
        <!--<strong class="inline large">Label Debates</strong> -->
        <strong class="right inline user-id">USER ID: {{ userId }} </strong>
      </div>

      </br>
      <div>
        <strong> # Documents You've Labeled: {{ labeledCount }} </strong>
        <strong id="timer-box"
             class="right time-remaining"
             title="task time remaining">
          Time Remaining: {{ prettyTime }}
        </strong>
      </div>
      <div>
        <button class="save-button"
                v-on:click="sendUpdate"
                title="save input and get new set of debates">
          Save {{ perceivedControl ? "Assignments" : "Suggestions" }} and Get New Set of Debates
        </button>
        <button v-on:click='toggleModal()' class="right" title="show instructions">View Instructions</button>

      <!--  <button v-on:click='labelAllCorrect'>Cheat</button> -->

          <!-- <button v-on:click="getAccuracy">Get Accuracy</button>-->
        </br>
      </div>
    </div>

      <div id="doc-list"
           v-if="isMounted">
        <!--
        <div class="doc-container-collapsed doc-container doc-header">
          <div class="expand-button-area"></div>
          <div class="title">Doc Identifier</div>
          <div class="rating">Model Prediction</div>
          <div class="radio">
            {{ perceivedControl ? "Assign Label" : "Suggest Label" }}
          </div>
        </div>
        -->
        <div v-for="doc in unlabeledDocs"
             class="doc-container"
             v-bind:class="doc.open ? 'doc-container-expanded' : 'doc-container-collapsed'">
          <div class="expand-button-area">
            <button class="expand-button"
                    v-on:click="toggleDocOpen(doc)">
              <span v-if="doc.open">
              -
              </span>
              <span v-else>
              +
              </span>
            </button>
          </div>
          <div class="title">
            <div class="vertical-align">
              Debate </br>
              #{{ pad(doc.docId, 6) }}
            </div>
          </div>
          <div class="rating">
            <div>
              <div class="vertical-align large-label">
                Model Prediction:
              </div>
            </div>
            <div class="model-prediction rounded" v-bind:style="{'background-color': colors[doc.prediction.label]}">
              {{ getConfidenceWord(doc) }} {{ expandLabel(doc.prediction.label) }}
            </div>
          </div>

          <div class="radio">
            <span v-if="showAnswers">
              {{ labels[0].label === doc.trueLabel ? '&#10004;' : '&#10005;' }}
            </span>
            <div class="radio-container">
              <div>
                <div class="vertical-align large-label">
                  {{ perceivedControl ? "Assign Label:" : "Suggest Label:" }}
                </div>
              </div>
              <button class="radio-selection"
                      v-on:click="labelDoc(doc, labels[0].label+'1')"
                      v-bind:style="{'background-color': colors[labels[0].label]}">
                Definitely {{ expandLabel(labels[0].label) }}</br>
                <input type="radio"
                       v-bind:value="labels[0].label+'1'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-if="inputUncertainty"
                      v-on:click="labelDoc(doc, labels[0].label+'2')"
                      v-bind:style="{'background-color':
                      lightenDarkenColor(colors[labels[0].label], -40)}">
                Maybe {{ expandLabel(labels[0].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[0].label+'2'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-if="inputUncertainty"
                      v-on:click="labelDoc(doc, labels[1].label+'2')"
                      v-bind:style="{'background-color':
                      lightenDarkenColor(colors[labels[1].label], -40)}">
                Maybe {{ expandLabel(labels[1].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[1].label+'2'"
                       v-model="doc.userLabel"/>
              </button>

              <button class="radio-selection"
                      v-on:click="labelDoc(doc, labels[1].label+'1')"
                      v-bind:style="{'background-color': colors[labels[1].label]}">
                Definitely {{ expandLabel(labels[1].label) }}
                </br>
                <input type="radio"
                       v-bind:value="labels[1].label+'1'"
                       v-model="doc.userLabel"/>
              </button>
            </div>
          </div>
            <!--
            <label>My label
              <input style="display:block;"
                     type="radio"
                     id="something"
                     value="hello"
              \>
            </label>
            <label>
              Label1
              <input style="display:block;"
                     type="radio"
                     id="val1"
                     name="val"
                     value="hello"
                     />
            </label>
            <label>
              Label2
              <input style="display:block;"
                     type="radio"
                     id="val2"
                     name="val"
                     value="hello"
                     />
            </label>
            <label for="one">{{ expandLabel(labels[0].label) }}</label>
            <input type="radio"
                   id="one"
                   v-bind:value="labels[0].label+'O'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="one"
                   v-if="inputUncertainty"
                   v-bind:value="labels[0].label+'I'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="two"
                   v-if="inputUncertainty"
                   v-bind:value="labels[1].label+'I'"
                   v-model="doc.userLabel"/>
            <input type="radio"
                   id="two"
                   v-bind:value="labels[1].label+'O'"
                   v-model="doc.userLabel"/>
            <label for="two">{{ expandLabel(labels[1].label) }}</label>
            <span v-if="showAnswers">
              {{ labels[1].label === doc.trueLabel ? '&#10004;' : '&#10005;' }}
            </span>
            -->
          <div class="doc-text" v-if="doc.open">
            <!-- {{ doc.text }} -->
            <div v-html="getDocHtml(doc)"></div>
          </div>




        </div>
      </div> <!--end doc-list-->
    <transition name="fade"> <!-- MODAL -->
      <div class="modal-shell"
           v-show="showModal"
           v-on:click="closeModal()">
        <div class="modal-content instructions" v-on:click.stop>
          <div class="modal-header doc-header">
            <h2>
              <span v-if="!finishedSurvey">Welcome</span>
              <span v-if="!timeWarning && finishedSurvey && firstPage && !finished">Task Overview</span>
              <span v-if="!timeWarning && finishedSurvey && !firstPage && !finished">Tool Instructions</span> <!--for the debate labeling task-->
              <span v-if="finished">Post-Task Survey</span>
              <span v-if="timeWarning">Time is almost up!</span>
            </h2>
            <button class="btn-close"
                    v-on:click="closeModal()"
                    v-if="started && !finished">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <span v-if="timeWarning">
              You have 2 minutes remaining to confirm or correct the system predictions. At the end of task time, all of your outstanding {{perceivedControl ? 'assignments' : 'suggestions' }} will be saved to the system.
            </span>
            <span v-if="finished">
              Time is now up; any outstanding {{perceivedControl ? 'assignments' : 'suggestions' }} were saved to the system.
              <br/>
              <br/>
              Thank you for participating in the task. Please complete the following survey:
              <a href="https://forms.gle/DiVdwNuquTKGLjxV7" target="_blank">post-task survey</a>, with your assigned user id: {{userId}}
            </span>
            <span v-if="!timeWarning && !finishedSurvey && !finished">
              Welcome to the debate speech prediction task! Your assigned user id is: <span class="bold">{{userId}}</span>. Please write this down - you will need it for the surveys and to receive compensation for this task.
              <br/>
              <br/>
              Please first complete the following survey:
              <a v-on:click="clickedSurvey = true" target="_blank" href="https://forms.gle/XRLTyQTAYQZL4iTPA">pre-task survey</a>, which will open in a new tab or window. After completing the survey, return to this tab to perform the task.
            </span>
            <span v-if="!timeWarning && firstPage && finishedSurvey && !finished">
              <div>
                This is a political party prediction system that predicts if a speaker is a republican or democrat. In this task, <span class="bold">you and the system will predict the political party of the speakers for a large set of debate speeches</span>. There are too many speeches for you to read and predict the speakers’ political party for all of them on your own.
              </div>
              </br>
              </br>
              <div>For each speech, the system predicts the party affiliation of the speaker and highlights the words within the speech that are most important for that prediction. You can <span class="bold">correct or confirm the party affiliation for any of the speeches to help the system learn to make better predictions</span>.</div>
              </br>
              </br>
              <div>You will have <span class="bold">20 minutes</span> to review the speeches and correct or confirm the systems predictions. At the end of the task time, the system will label the remaining speeches. Then <span class="bold">all speeches (those labeled by you and by the final version of the system) will be scored</span>. You will be given a <span class="bold">bonus for how many of the speeches are correctly labeled</span>.
              </div>
            </span>
            <span v-if="!timeWarning && !firstPage && finishedSurvey && !finished">
              <div>The system has predicted the political party affiliation for the
              speaker of each of the ten debates speeches shown here. For each debate speech,
              the system provides its prediction and how sure it is. <span class="bold">You can correct or
              confirm the system’s prediction by {{ perceivedControl ? 'assigning' : 'suggesting' }} whether the speaker is a
              republican or democrat</span>.
              </br>
              </br>
              Clicking on any debate expands it to view
              the text. <span class="bold">The highlighted words are those that are most important for
              the system's prediction</span>.
              </br>
              </br>
              Pressing the <span class="bold">"Save and Get New Set of Debates"
              button at any point saves your {{ perceivedControl ? 'assignments' : 'suggestions' }} to the system and gets a new
              set of debates to review</span>.
              </br>
              </br>
              <span class="bold">Remember, your goal is to correct or confirm the systems predictions to help it learn to make better predictions. After the 20 minute timer is up, the system will label the remaining speeches and you will be scored based on how many out of all total speeches are correct.</span> You can revisit these instructions at any time by clicking the “View Instructions" button.
              </div>
            </span>
          </div> <!-- Modal body -->
          <div class="modal-footer">
            <button class="modal-button"
                    v-if="clickedSurvey && !finishedSurvey && !finished"
                    v-on:click="finishedSurvey = true">
              proceed to task
            </button>
            <button class="modal-button"
                    v-if="!timeWarning && firstPage && finishedSurvey && !finished"
                    v-on:click="firstPage = false">
              next
            </button>
            <button class="modal-button"
                    v-if="!timeWarning && !started && !firstPage && !finished"
                    v-on:click="startTask">
              start
            </button>
          </div>
        </div> <!-- Modal content -->
      </div> <!-- Modal shell -->
    </transition>
    <transition name="fade">
      <div v-if="loading"
           class="modal-shell">
        <img v-bind:src="'static/images/spinner.gif'"></img>
      </div>
    </transition>
    </div> <!-- End Vue App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>
