/*Set the cursor to 'move' over draggable*/
[draggable=true]{
  cursor: pointer;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid #dddddd;
}

.metadata-map td, th {
  padding: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 5px;
  max-width: 60px;
  min-width: 18px;
  font-size: 12px;
}


.metadata-map tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover:nth-child(n) {

}

.outlined {
  border: 1px solid yellow;
}

.label-title {
  /*background-color: purple;*/
  text-align: center;
  min-width: None;
  max-width: None;
}
.doc-title {
  height: 50px;
  font-size: 10px;
  text-align: center;
}
.selected {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 5px solid yellow;
}
.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 1;
}
.topic{
  max-width: None;
  font-size: 16px;
}
td.anchor-container{
  height: 45px; /* Perfect for 2 anchors tall */
  height: 20px;
  min-width: 175px;
  max-width: 250px;
  font-size: 14px;
  padding: 3px 2px;
}
.very-small{
  font-size: 9px;
}

.dragging {
 /* background-color: red !important;
  max-width: None;
  min-width: 50px;
  width: 150px;
  */
}
.dragging:nth-child(n){

}
.dragover {
  background-color: grey !important;
}
.percentage {
}
.percentage:hover{
}

.min-height {
  min-height: 10px;
}
body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
}

/* List */

ul {
    list-style: none;
}

li {
    background: #fff;
    width: 500px;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
}
/*
.delete {
    display: none;
    margin-left: auto;
}

li:hover .delete {
    display: block;
}
*/

label {
    width: 400px;
}

.completed {
    text-decoration: line-through;
}

/* Form */

.add-anchor-form {
  display: inline;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

/* Controls */

.controls {
  margin-top: 20px;
}

.anchor-word{

}

.word-box{
  border: 1px solid #999;
  padding: 1px;
  margin: 1px;
  border-radius: 3px;
  display: inline-block;
}

.delete{
  visibility: hidden;
  padding: 1px;
  border: 1px dotted black;
}
.delete:hover {
  cursor: pointer;
}
.word-box:hover .delete{
  visibility: visible;
}


