body {
  /*
  font-family: 'Arvo';
  */
  font-family: 'Roboto';
  /*padding: 20px 5px 50px 5px;*/
  background: lightblue;
  padding: 0px;
  margin: 0px;
}

#app {
  background: #f3f3f3;
  width: 925px;
  overflow-x: scroll;
  margin: auto;
  height: 100%;
  padding: 10px;
}

#doc-list {
  background-color: white;
}

.classification-label {
  font-weight: bold;
  position:absolute;
  margin-top: -25px;
  margin-left: 100px;
}

.projected-instructions {
  position: absolute;
  font-style: italic;
  margin-left: 50px;
}

.italic {
  font-style: italic;
}

button {
  /*
  font-family: 'Arvo';
  */
  font-size: 16px;
  cursor:pointer;
  border-radius: 6px;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header {
  margin-bottom: 5px;
}

.large-label {
  font-size: 16px;
}

.instructions{
  width: 75%;
}

.input-label {
  font-weight: bold;
}

.doc-container {
  border: 1px solid black;
  padding: 20px;
}

.doc-container > div {
  font-size: 16px;
  text-align: center;
}

.rating-label.dem {
  text-align:right;
  margin-right: 2px;
}

.rating-label.rep {
  text-align:left;
  margin-left: 2px;
}


.doc-header > div {
  font-size: 24px;
  z-index:100;
}

.sticky {
  position: fixed;
  top: 50;
}

.doc-container-collapsed {
  display: grid;
  grid-template-columns: .5fr 1fr 2fr 5fr;
  grid-template-areas:
        "expand title rating radio";
  grid-gap: 10px;
  /*background-color: #2196f3;*/
}

.doc-container-expanded {
  display: grid;
  grid-template-columns: .5fr 3.5f 2.5fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
        "title  doctext  radio radio"
        "empty rating projected projected";
  grid-gap: 10px;
  /*was previously 10px*/
  /*background-color: #2196f3;*/
}

.expand-button-area {
  grid-area: expand;
  font-size: 30px;
  /*background: hotpink;*/
}

.expand-button {
/*  width: 100%;
  height: 100%; */
  margin: auto;
  background: None;
  font-size: 30px;
}

.title {
  grid-area: title;
  /*background: tomato;*/
}

.rating {
  grid-area: rating;
  /*background: lightgreen;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.projected{
	grid-area: projected;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.radio {
  grid-area: radio;
  /*background: gold;*/
  margin-bottom: 20px;
}
.model-prediction {
  padding-top: 10px;
}
.radio-container {
  display: grid;
  grid-template-columns: repeat(9, .5fr);
  grid-row: auto auto;
  grid-gap: 2px;
}
.radio-selection{
  /*background-color: #999;*/
  width: 75px;
}
.doc-text {
  grid-area: doctext;
  /*background: deepskyblue;*/
  text-align: left !important;
  padding: 10px 30px !important;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}
input[type="radio"] {
  height: 25px;
  width: 25px;
}
.rounded{
  border-radius: 5px;
}
#timer-box{
}
.right{
  float: right;
}
.inline{
  display: inline;
}
.large{
  font-size: 20px;
}

.ratingBar{
  margin: auto;
  width: 115px;
	background-color:#f38e93;
	height:24px;
  border-radius:3px;
  margin-bottom: 10px;
}

.rating-blue{
	background-color:#a8a8fd!important;
	height:24px;
	border-radius:3px;
}



.toolbar {
  border-bottom: solid 2px black;
  padding-bottom: 10px;
}

.sub-toolbar {
  padding-top: 10px;
}

.adherence-instructions-holder, .adherence-slider-holder, .save-labels-button-holder {
  display: inline-block;
}

.adherence-instructions-holder {
  width: 240px;
  margin-right: 10px;
}

.adherence-slider-holder {
  width: 300px;
  position: relative;
  top: -25px;
}

.adherence-slider {
  z-index:0;
}

.adherence-label {
  font-weight: bold;
  position: relative;
}

.adherence-label.ignore {
  left: 0px;
}

.adherence-label.override {
  float: right;
}


.save-labels-button-holder{
  float: right;
}
/*
.rating {
  background: hotpink;
}
*/

/*
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/

/*
@media all and (min-width: 800px) {
  .doc-left {
  }

  .doc-right {
  }
}

*/
